
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    gap: 30px;
    position: relative;
    left: 20px;
}

nav ul li {
    font-family: "Courier New";
}

#icons {
    position: relative;
    right: 0;
    left: 50px;
    display: flex;
    gap: 30px;
}

#icons i {
    font-size: 30px;
    color: black;
}

h1 {
    font-family: "Courier New";
    font-size: 100px;
    text-align: center;
    position: relative;
    bottom: 30px;
    font-weight: normal;
}

p {
    font-family: "Courier New";
}