
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    gap: 30px;
    position: relative;
    left: 20px;
}

#icons {
    position: relative;
    right: 0;
    left: 50px;
    display: flex;
    gap: 30px;
}

#icons i {
    font-size: 30px;
    color: black;
    transition: transform 0.2s ease;
}

#icons i:hover {
    transform: scale(1.3);
}

h1 {
    font-size: 100px;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-weight: normal;
    word-spacing: 8px;
}

p,  h1, nav ul li {
    font-family: "Courier New";
}

nav ul li a {
    text-decoration: none;
    color: black;
    transform: transition 0.2s ease;
    white-space: nowrap;                
    cursor: pointer;    
}

aside {
    text-align: center;
    position: relative;
    bottom: 80px;
    font-family: Helvetica;
}

nav ul li a:hover {
    transform: scale(2.0);
}
